---
import Layout from '../layouts/Layout.astro'
import AppWriteDemo from '../components/AppWriteDemo.tsx'

---

<Layout title='Playing with AppWrite'>
	<h1>Playing with AppWrite</h1>
	<AppWriteDemo client:visible />
</Layout>
