.counter {
	display: grid;
	font-size: 2em;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	place-items: center;
	width: 10rem;
	margin: 0 auto;
}

.counterMessage {
	text-align: center;
	color: yellowgreen;
	margin-bottom: 3rem;
}