---
const pathname = new URL(Astro.request.url).pathname

function getActiveTailWind (link) {
	return pathname === link ? 'itemActive' : 'item'
}
---
<nav class='nav'>
	<ul class='list'>
		<li class='item'><a href='/' class={getActiveTailWind('/')}>Home</a></li>
		<li class='item'><a href='/hello' class={getActiveTailWind('/hello')}>Hello</a></li>
		<li class='item'><a href='/blogs' class={getActiveTailWind('/blogs')}>Blogs</a></li>
	</ul>
</nav>

<style>
	.nav {
		background-color: var(--color-electric-blue);
		padding: 0.5rem;
	}
	.list {
    display: flex;
    justify-content: space-around;
		list-style: none;
		padding: 0;
	}
	.item {
    color: white;
    text-decoration: none;
		&:hover {
			text-shadow: var(--color-electric-yellow) 1px 0 10px;
		}
		& a {
			font-style: normal;
			font-size: large;
		}
	}
	.itemActive {
    text-decoration: none;
		font-weight: bold;
		color: var(--color-electric-yellow);
	}
</style>