---
import '../styles/pure-min.css'
import '../styles/global.css'

import '@fontsource/ubuntu-mono'
import '@fontsource/caveat-brush'
import '@fontsource/spectral/200.css'
import '@fontsource/spectral/400.css'
import '@fontsource/spectral/700.css'

import Navigation from '../components/Navigation.astro'

export interface Props {
	title: string
	description: string
}

const { title } = Astro.props
const { description } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description || 'Astro description'}>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navigation />
		<slot />
	</body>
</html>
<style is:global>
	body,
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--color-gray-2);
		color: var(--color-electric-pink);
		min-height: 100vh;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Caveat Brush', sans-serif;
		color: var(--color-electric-pink);
	}

	p,
	pre,
	a,
	ul,
	li {
		font-family: 'Spectral', sans-serif;
		color: var(--color-electric-yellow);
		font-weight: 400;
	}

	pre,
	ul,
	li {
		font-family: 'Ubuntu Mono', sans-serif;
	}

	pre {
		margin: 0;
	}

	a {
		color: var(--color-electric-green);
		text-decoration: none;
		font-style: italic;
	}

	button,
	button.pure-button {
		font-family: 'Ubuntu Mono', sans-serif;
	}
</style>
